1.What are data structures, and why are they important ?
  * Data structures are fundamental ways to organize and store data efficiently, enabling computers to process and manipulate information effectively. They are important because they allow for optimized code, easier understanding, and efficient storage and retrieval of data.

2. Explain the difference between mutable and immutable data types with examples

* Mutable Data Type – A mutable data type is one whose values can be changed.
Example: List, Dictionaries, and Set

Immutable Data Type – An immutable data type is one in which the values can’t be changed or altered.
Example: String and Tuples

  3.What are the main differences between lists and tuples in Python
  
  *  In Python, lists are mutable (changeable) ordered collections, while tuples are immutable (unchangeable) ordered collections, making them suitable for different use cases, such as storing dynamic data (lists) or fixed data (tuples)

4.Describe how dictionaries store data
*  Dictionaries are used to store data values in key:value pairs.

5.Why might you use a set instead of a list in Python
*  Because sets cannot have multiple occurrences of the same element, it makes sets highly useful to efficiently remove duplicate values from a list or tuple and to perform common math operations like unions and intersections.

6.What is a string in Python, and how is it different from a list
*  In Python, a string is an immutable sequence of characters enclosed in single or double quotes, while a list is a mutable, ordered collection of items enclosed in square brackets.

7.How do tuples ensure data integrity in Python
*  Tuples are immutable to ensure that their contents remain constant throughout their lifecycle.

8.What is a hash table, and how does it relate to dictionaries in Python
*  A hash table is a data structure that stores key-value pairs, using a hash function to map keys to indices in an array (or "buckets") for fast lookups, and Python dictionaries are built upon hash tables.

9.Can lists contain different data types in Python
*  Although it's not really common, a list can also contain a mix of Python types including strings, floats, and booleans.

10.Explain why strings are immutable in Python
*  Python strings are "immutable" which means they cannot be changed after they are created.

11.What advantages do dictionaries offer over lists for certain tasks
*  Dictionaries excel over lists for tasks requiring fast data retrieval and organization by keys, while lists are better for ordered collections and sequence operations.

12.Describe a scenario where using a tuple would be preferable over a list
*  Use a tuple if you need an immutable collection where the elements won't change after creation. Tuples are generally faster and more memory-efficient than lists.

13.How do sets handle duplicate values in Python
*  Items of a set in python are immutable, do not duplicate values, and unordered.

14. How does the “in” keyword work differently for lists and dictionaries
*  The in operator in Python checks if a specified value exists within a sequence, such as a list, tuple, or string.

15.Can you modify the elements of a tuple? Explain why or why not
*  No, you cannot directly modify the elements of a tuple in Python because tuples are immutable, meaning their contents cannot be changed after creation.

16.What is a nested dictionary, and give an example of its use case
*  A nested dictionary is a dictionary where the values are themselves dictionaries, allowing for hierarchical data organization.
*   A use case is representing employee records, where each employee's details are stored in a nested dictionary, organized by department.

17. Describe the time complexity of accessing elements in a dictionary
*  Accessing elements in a dictionary (or hash map) by key has an average time complexity of O(1), meaning it takes constant time, regardless of the dictionary's size

18.In what situations are lists preferred over dictionaries
*  For quick data look-ups, configurations, or caches, favor dictionaries. For ordered collections and sequence operations, such as maintaining a stack or queue, lists are more suitable.

19. Why are dictionaries considered unordered, and how does that affect data retrieval.
*  Dictionaries are considered unordered because they don't maintain a specific order for their key-value pairs, meaning the order of insertion is not preserved, and retrieval is based on keys, not position.

20.Explain the difference between a list and a dictionary in terms of data retrieval.
*  In terms of data retrieval, lists use integer indices (starting from 0) to access elements, while dictionaries use keys to access associated values, offering faster lookups for specific data based on those keys.

1.Write a code to create a string with your name and print it.

In [2]:
print('Likith Kumar')

Likith Kumar

2.Write a code to find the length of the string "Hello World"

In [4]:
a = "Hello World"
print(len(a))

11

3. Write a code to slice the first 3 characters from the string "Python Programming"

In [8]:
s = "Python Programming"
s1 = s[0:3]
print(s1)

Pyt

4. Write a code to convert the string "hello" to uppercase

In [9]:
s = "hello"
res = s.upper()
print(res)

HELLO

5.Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [10]:
my_string = "I like apple"
new_string = my_string.replace("apple", "orange")
print(new_string)

I like orange

6.Write a code to create a list with numbers 1 to 5 and print it.

In [13]:
r1 = 1 # range 1
r2 = 6 # range 2

li = list(range(r1,r2))
print(li)

[1, 2, 3, 4, 5]

7.Write a code to append the number 10 to the list [1, 2, 3, 4]

In [14]:
input = [1, 2, 3, 4,]
key = 10

result = []
for ele in input:
    result.append(ele)
    result.append(key)

print(result)

[1, 10, 2, 10, 3, 10, 4, 10]

8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [18]:
Input = [1, 2, 3, 4, 5,]
no_delete =[3]

result = [i for i in Input if i not in no_delete]

print(result)

[1, 2, 4, 5]

9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [25]:
Input = ['a','b','c','d']
pirnt = Input[1]
print(pirnt)

b

10.Write a code to reverse the list [10, 20, 30, 40, 50].

In [26]:
a = [1, 2, 3, 4, 5]

a.reverse()
print(a)

[5, 4, 3, 2, 1]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [27]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [32]:
Colors = ('red', 'green', 'blue', 'yellow')
print(Colors[-2])

blue

13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [33]:
my_tuple = (10, 20, 5, 15)
min_value = min(my_tuple)
print(min_value)

5

14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [39]:
my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print(index_of_cat)

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [40]:
fruits = ("apple", "banana", "cherry")

if "kiwi" in fruits:
  print("kiwi is in the tuple")
else:
  print("kiwi is not in the tuple")

kiwi is not in the tuple

16.Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [43]:
Input = ['a', 'b', 'c']

my_set = set(Input)

print(my_set)

{'b', 'c', 'a'}

17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [44]:
Input = {1, 2, 3, 4, 5}

Input.clear()

print(Input)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [45]:
Input = {1, 2, 3, 4}

Input.remove(4)

print(Input)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [47]:
Input1 = {1, 2, 3}

Input2 = {3, 4, 5}

result = Input1.union(Input2)

print(result)

{1, 2, 3, 4, 5}

20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [48]:
Input1 = [1,2,3]

Input2 = [2,3,4]

result = list(set(Input1) & set(Input2))

print(result)

[2, 3]

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [52]:
sample_dict = {'name': 'Likith', 'age': 28, 'city': 'Bengaluru'}

keys_list = list(sample_dict.keys())
print(keys_list)

['name', 'age', 'city']

22.. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [53]:
my_dict = {'name': 'John', 'age': 25}

my_dict['country'] = 'USA'

print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 3

In [54]:
Input = {'name': 'Alice', 'age': 30}

value_of_name = Input['name']

print(value_of_name)

Alice

24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [55]:
Input = {'name': 'Bob', 'age': 22, 'city': 'New York'}

del Input['age']

print(Input)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [56]:
Input = {'name': 'Alice', 'city': 'Paris'}

if 'city' in Input:
  print("The key 'city' exists in the dictionary.")
else:
  print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

26.Write a code to create a list, a tuple, and a dictionary, and print them all.

In [64]:
List = ['Likith', 'Kumar']
Tuple = ('Likith', 'Kumar')
Dictionary = {'name': 'Likith', 'age': '28'}

print(List)
print(Tuple)
print(Dictionary)

['Likith', 'Kumar']
('Likith', 'Kumar')
{'name': 'Likith', 'age': '28'}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [68]:
Input = [5, 28, 88, 18, 69]

Input.sort()

print(Input)

[5, 18, 28, 69, 88]

28. Write a code to create a list with strings and print the element at the third index.

In [79]:
my_list = ["A","B","C", "D", "E","F"]

print(my_list[2])

C

29.Write a code to combine two dictionaries into one and print the result.

In [89]:
Input1 = {'name': 'Likith', 'age': 28}
Input2 = {'city': 'Bengaluru', 'country': 'India'}

combined_Input = {**Input1, **Input2}

print(combined_Input)

{'name': 'Likith', 'age': 28, 'city': 'Bengaluru', 'country': 'India'}

30.Write a code to convert a list of strings into a set.

In [85]:
G = "LIKITH"

print(type(G))
print(G)

# Convert String to Set
set_G = set(G)

print(type(set_G))
print(set_G)

<class 'str'>
LIKITH
<class 'set'>
{'L', 'I', 'H', 'T', 'K'}